<a href="https://colab.research.google.com/github/Taehwi11/Q1_2022/blob/python/12_02_boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sklearn.datasets import load_boston
import pandas as pd
Boston_Data=load_boston()
Boston_X=pd.DataFrame(data=Boston_Data.data,columns=Boston_Data.feature_names)
Boston_Y=pd.DataFrame(Boston_Data.target,columns=['medv'])
Boston_DataFrame=pd.concat([Boston_X,Boston_Y],axis=1)
Boston_DataFrame.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [15]:
from sklearn.preprocessing import MinMaxScaler
Scaler_Boston=MinMaxScaler().fit(Boston_X)
pd.DataFrame(Scaler_Boston.transform(Boston_X),columns=Boston_Data.feature_names)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.000633,0.00,0.420455,0.0,0.386831,0.580954,0.681771,0.122671,0.000000,0.164122,0.893617,0.987619,0.219095
502,0.000438,0.00,0.420455,0.0,0.386831,0.490324,0.760041,0.105293,0.000000,0.164122,0.893617,1.000000,0.202815
503,0.000612,0.00,0.420455,0.0,0.386831,0.654340,0.907312,0.094381,0.000000,0.164122,0.893617,1.000000,0.107892
504,0.001161,0.00,0.420455,0.0,0.386831,0.619467,0.889804,0.114514,0.000000,0.164122,0.893617,0.991301,0.131071
505,0.000462,0.00,0.420455,0.0,0.386831,0.473079,0.802266,0.125072,0.000000,0.164122,0.893617,1.000000,0.169702

In [16]:
from sklearn.model_selection import StratifiedShuffleSplit

Split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=0)
for Train_index,Test_index in Split.split(Boston_Data,Boston_Data['medv']):
  Train_Boston=Boston_Data.loc[Train_index]
  Test_Boston=Boston_Data.loc[Test_index]
  Train_Boston_x,Train_Boston_y=Train_Boston.iloc[:,:-1],Train_Boston['medv']
  Test_Boston_x,Test_Boston_y=Test_Boston.iloc[:,:-1],Test_Boston['medv']

KeyError: ignored

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

Scaler_Boston=MinMaxScaler()
KNN_CLF=KNeighborsClassifier(n_neighbors=3,metric='minkowski',p=2,weights='uniform')
Full_pipeline_KNN=Pipeline(steps=[('scaler',Scaler_Boston),('Classifier',KNN_CLF)])
Full_pipeline_KNN.fit(Train_Boston_x,Train_Boston_y)
Test_Boston_Pred=Full_pipeline_KNN.predict(Test_Boston_x)
pd.DataFrame(confusion_matrix(Test_Boston_y,Test_Boston_Pred))
print("Accuracy=",Full_pipeline_KNN.score(Test_Boston_x,Test_Boston_y))

NameError: ignored